/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container {
    width: 400px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    margin-bottom: 8px;
    display: block;
}

input {
    width: calc(100% - 16px);
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #45a049;
}

#result {
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
}

.language-buttons {
    margin-top: 10px;
    text-align: center;
    width: 200px;
}

.language-buttons button {
    margin-right: 5px;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 4px;
}

.language-buttons button:hover {
    background-color: #0056b3;
}

.authorcoffee {
    margin-top: 10px;
}

.translate-svg {
    color: white;
}

.lang-btn {
    background: none;
    color: black;
    border: none;
}

.lang-btn-drop-dn {
    margin: 10px;
}